.bottom {
  padding-top: 11px;
  padding-bottom: 13px;
  flex-grow: 1;
}

.bottom__list {
  display: flex;
  flex-wrap: wrap;
}

.bottom__item {
  margin-right: 44px;
  width: min-content;

  &:last-child {
    margin: 0;
    width: 215px;
  }
}

.bottom__item-link {
  @include font-xs;
  color: $header-text-color;
  font-weight: 700;
  display: block;

  &:focus,
  &:active {
    outline: 1px solid $text-color;
    outline-offset: 3px;
  }
}
