.header__wrapper {
  display: flex;
  padding-left: 220px;

}

.header__logo-link {
  margin-top: 15px;
}

.header__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 100px;
}
