@font-face {
  font-family: "Rostelecom Basis";
  src: url("../fonts/rostelecom-basis-reg.woff2") format("woff2"), url("../fonts/rostelecom-basis-reg.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
