$header-font: "PT Sans", "Georgia", serif;
$slider-font: "Rostelecom Basis", "Аrial", sans-serif;

$body-color: #ffffff;
$text-color: #303030;

$header-text-color: #003883;
$header-title-color: #0061a1;

$background-color-1: #80cbc4;
$background-color-2: #e8b3ac;
$background-color-3: #cacaca;
$background-color-4: #9bd6e3;


$font-size-xxs: 14px;
$line-height-xxs: 25px;

$font-size-xs: 16px;
$line-height-xs: 16px;

$font-size-s: 18px;
$line-height-s: 24px;

$font-size-m: 24px;
$line-height-m: 26px;

$font-size-l: 35px;
$line-height-l: 43px;

$font-size-xl: 48px;
$line-height-xl: 62px;

$font-size-xxl: 120px;
$line-height-xxl: 120px;
