// $main-font: "Golos", "Аrial", sans-serif;
// $main-font-bold: "Golos_Bold", "Аrial", sans-serif;

$body-color: #ffffff;
$text-color: #303030;

$header-text-color: #003883;
$header-title-color: #0061a1;

$background-color-1: #80cbc4;
$background-color-2: #e8b3ac;
$background-color-3: #cacaca;
$background-color-4: #9bd6e3;


$font-size-xxs: 14px;
$line-height-xxs: 14.9px;

$font-size-xs: 16px;
$line-height-xs: 16.56px;

$font-size-s: 18px;
$line-height-s: 23.29px;

$font-size-m: 24px;
$line-height-m: 26.4px;

$font-size-l: 39px;
$line-height-l: 45.31px;

$font-size-xl: 48px;
$line-height-xl: 61.97px;

$font-size-xxl: 120px;
$line-height-xxl: 154.92px;


// $desktop-width: 1024px;
// $desktop-padding: 220px;
